@model mvc.Models.viewmodel.Message

@if (Model != null)
{
    if (Model.Header != null)
    {
        <h3>@Model.Header</h3>
    }
    if (Model.MessageText != null)
    {
        <p>@Model.MessageText</p>
        }
    }
else
{
    <p>
        Es wurde keine Nachricht zum anzeigen übergeben.
    </p>
}
