@model List<mvc.Models.viewmodel.Recipe>
@using mvc.Models.viewmodel

@{
    ViewBag.Title = "Home";
}

<div class="index_brote_image">
    <img src="~/images/index_brote.png"alt="image"width="820px" />
</div>
<div id="index_welcome_container">
<h3>Willkommen auf unserer Website!</h3>
<p>Wir wollen euch hier zeigen, wie man einfache gesunde Gerichte kochen kann.
    Mit selbst geschriebenen Rezepten,<br /> wollen wir euch das Kochen ein bisschen schmackhafter machen</p>
</div>

<div id="container_12tipps">
<div id="index_12tipps">
    
    <h1 style="background-color: lightgrey;">12 Tipps zur gesunden Ernährung!</h1>
    <ol>
        <li class="index_12tipps_li">
            Think-Don't plan-Cook-Enjoy!
            It's all about trying and finding out on your own!
        </li>
        <li class="index_12tipps_li">
            Sharpe Knives make the deal!
            Use sharp Knives to get maximum Results!
        </li>
        <li class="index_12tipps_li">
            c
        </li>
        
        <li class="index_12tipps_li">
            d
        </li>
        <li class="index_12tipps_li">
            e
        </li>
        <li class="index_12tipps_li">
            f
        </li>
        <li class="index_12tipps_li">
            g
        </li>
        <li class="index_12tipps_li">
            h
        </li>
        <li class="index_12tipps_li">
            i
        </li>
        <li class="index_12tipps_li">
            j
        </li>
        <li class="index_12tipps_li">
            k
        </li>
        <li class="index_12tipps_li">
            l
        </li>

    </ol>

</div>
    </div>
